name: ipa

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */20 * * *'

jobs:
  sync_and_run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Git
      run: |
        git config --local user.email "${{ secrets.USER_EMAIL }}"
        git config --local user.name "${{ secrets.USER_NAME }}"

    - name: Check if Apps.json is empty
      run: |
        if [ ! -s apps.json ]; then
          # The file is empty or does not exist
          echo "Initializing Apps.json"
          echo '{}' > apps.json
          git add apps.json
          git commit -m "Initialize Apps.json"
          git push
        else
          # The file is not empty
          echo "Apps.json already exists, skipping initialization"
        fi

    - name: Pull remote file
      run: |
        curl -o apps.json https://raw.githubusercontent.com/swaggyP36000/TrollStore-IPAs/main/apps.json
      working-directory: ${{ github.workspace }}

    - name: Debug Script
      run: |
        ls -al  # 列出当前目录下的文件，确保文件存在
        cat test.json  # 输出 test.json 内容
        cat apps.json  # 输出 apps.json 内容
 
        python 1.py

        cat merged_library.json
      working-directory: ${{ github.workspace }}

    - name: Telegram通知
      run: |
        curl "https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage" \
          -d "chat_id=${{ secrets.TELEGRAM_CHAT_ID }}" \
          -d "text=ipa商店更新合并完成!分支：${{ github.ref }}"
      working-directory: ${{ github.workspace }}
