name: ipa

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */20 * * *'

jobs:
  sync_and_run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Git
      run: |
        git config --local user.email "${{ secrets.USER_EMAIL }}"
        git config --local user.name "${{ secrets.USER_NAME }}"

    - name: Check if Apps.json exists
      run: |
        if [ ! -f apps.json ]; then
          touch apps.json
          git add apps.json
          git commit -m "Initialize Apps.json"
          git push
        else
          curl -sSfLJO https://raw.githubusercontent.com/swaggyP36000/TrollStore-IPAs/main/apps.json
          git add apps.json
          git commit -m "ipa商店更新合并"
          git push
        fi

    - name: Run Python Script
      run: |
        python 1.py
        
    - name: Telegram通知
      run: |
          curl "https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage" \
          -d "chat_id=${{ secrets.TELEGRAM_CHAT_ID }}" \
          -d "text=ipa商店更新合并完成!分支：${{ github.ref }}"
