name: 美化
on:
  workflow_dispatch:
  #schedule:
    #- cron: "0 10 */3 * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
         python-version: "3.10"

      - name: 安装依赖项
        run: |
          python -m pip install --upgrade pip
          pip install requests bs4

      - name: Run Tests
        run: |
          python -m unittest discover

      - name: Configure Git
        run: |
          git config user.email "${{ secrets.USER_EMAIL }}"
          git config user.name "${{ secrets.USER_NAME }}"

      - name: Commit and Push Changes
        run: |
          git add .
          git commit -m "Run tests and update results" -a
          git push origin main  # 替换成你的目标分支

      - name: Notify on Success
        if: success()
        run: echo "Tests passed successfully!"

      - name: Notify on Failure
        if: failure()
        run: echo "Tests failed! Please check the logs for details."
